{% extends 'base_flow.html' %}
{% block content %}
    <h2>suivre d'autres utilisateurs</h2>
    <form action="{% url 'follow' %}" method="POST" id="follow_form">
        {% csrf_token %}
        <input type="text" name="test"> 
        <button type="submit" name="follow_btn" form="follow_form">Envoyer</button>
    </form>
    <p>{{message}}</p>
    <h2>Abonnements</h2>
    <ul>
        {% for abo in abonnements %}
            <form action="{% url 'unfollow' %}" method="POST" id="unfollow_form">
                {% csrf_token %}
                <li>{{ abo.username }} <button type="submit" name="unfollow_btn" value="{{ abo.id }}" form="unfollow_form">Ne plus suivre</button></li>
            </form>        
        {% endfor %}
    </ul>
    <h2>Abonnés</h2>
        {% for abo in abonnes %}
            <li>{{ abo.username }}</li>
        {% endfor %}

{% endblock content %}