{% extends 'base_flow.html' %}
{% block content %}
    <h1>Vos Posts : </h1>
    <ul>
        {% for critique in liste_critique_demandees %}
       
        <form action="{% url 'modify_deleted' %}" method="POST" id="form_modify_deleted_demande">    
            {% csrf_token %}
            <li>{{critique.titre}}</li>
            <li>{{critique.description}}</li>
            <li>{{critique.img_livre}}</li>
           <button type="submit" name="modify_btn_demande" value="{{critique.id}}" form = "form_modify_deleted_demande" >Modifier</button>
           <button type="submit" name="deleted_btn_demande" value="{{critique.id}}" form = "form_modify_deleted_demande">Supprimer</button>
        </form>
        
        {% endfor %}
    </ul>

    <h2>critique creer</h2>
    <ul>
    
    {% for critique in liste_critique_crees %}
        <form action="{% url 'modify_deleted' %}" method="POST" id="form_modify_deleted_cree">
            {% csrf_token %}
            <li>{{critique.titre}}</li>
            <li>{{critique.note}}</li>
            <li>{{critique.commentaire}}</li>
            <li>{{critique.id}}</li>
        
        <button type="submit" name="modify_btn_cree" value="{{critique.id}}" form = "form_modify_deleted_cree" >Modifier</button>
        <button type="submit" name="deleted_btn_cree" value="{{critique.id}}" form = "form_modify_deleted_cree">Supprimer</button>
     </form>
     {% endfor %}
    </ul>

{% endblock content %}